<html>
  <head>
    <meta name="keywords" content="Yale, Classroulette, Bluebook, spacebar, random, courses" />
    <meta name="author" content="Geoffrey Litt" />
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta property="og:site_name" content="Yale Classroulette"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://yaleclassroulette.com/images/classroulette.png"/>
    <% if @course %>
      <meta property="og:title" content="<%= @course.name %> - Yale Classroulette"/>
      <meta property="og:description" content="<%= @course.desc %>"/>
      <meta property="og:url" content="http://yaleclassroulette.com/recommended?course_id=<%= @course.oci_id%>">
      <meta name="description" content="<%= @course.desc %>" />
      <title><%= @course.name %> - Yale Classroulette</title>
    <% else %>
      <meta property="og:title" content="Yale Classroulette"/>
      <meta property="og:description" content="A serendipity-inducing interface to the Yale Bluebook"/>
      <meta name="description" content="A serendipity-inducing interface to the Yale Bluebook" />
      <title>Yale Classroulette</title>
    <% end %>
    <link href='all.css' rel='stylesheet' type='text/css' />
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js' type='text/javascript'></script>
    <script src='jquery.isotope.min.js' type='text/javascript'></script>
    <script src='main3.js' type='text/javascript'></script>
    <script src='mustache.js' type='text/javascript'></script>
    <script src='tiptip.js' type='text/javascript'></script>
    <script src='spin.min.js' type='text/javascript'></script>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700|Open+Sans:400,700|Gentium+Book+Basic:400,700|PT+Sans:400' rel='stylesheet' type='text/css' />
      <script type="text/javascript">
        var _gaq = _gaq || [];
        <% if (ENV['RACK_ENV'] == 'production') %>
          _gaq.push(['_setAccount', 'UA-33616777-1']);
        <% end %>
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
      </script>
  </head>
  <body>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/all.js#xfbml=1&appId=504450969581453";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
    <%= yield %>
  </body>
  </html>